@import '../styles.css';

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

.UserSettings {
    display: flex;
    height: 100%;
    background-color: var(--color-blue-light);
}

.UserSettings-CenteredBlock {
    margin: 44px auto auto;
}

.UserSettings-Dashboard {
    display: flex;
    flex-direction: column;

    padding: 24px 60px 52px 24px;
    margin-top: 24px;
    background-color: var(--color-white);
    border-radius: 12px;
}
.UserSettings-Header {
    display: flex;
    margin-bottom: 52px;
}
.UserSettings-Avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin-right: 36px;
}
.UserSettings-Name {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-grey-dark);
}
.UserSettings-Menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.UserSettings-MenuItem:not(:last-child) {
    margin-right: 24px;
}
.UserSettings-LogOut {
    color: var(--color-red);
}

.UserSettings-Parameters {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.UserSettings-Parameter:not(:last-child) {
    margin-bottom: 16px;
}
.UserSettings-Label {
    color: var(--color-grey-light);
    margin: 0 0 4px;
}
.UserSettings-Value {
    color: var(--color-grey-dark);
    margin: 0;
}

.UserSettings-Form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.UserSettings-Formfield {
    display: flex;
    flex-direction: column;
    position: relative;
}
.UserSettings-Formfield:not(:last-child) {
    margin-bottom: 16px;
}
.UserSettings-FormLabel {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-dark);
    margin-bottom: 6px;
}
.UserSettings-Input {
    height: 32px;
    border-radius: 12px;
    border: 1px solid var(--color-grey-dark);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-dark);
    padding-left: 16px;
}
.UserSettings-Input:active,
.UserSettings-Input:focus {
    border-color: var(--color-blue-dark);
    outline: none;
    box-shadow: 0px 0px 4px 0px var(--color-grey-light);
}
.UserSettings-Submit {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: var(--color-blue-dark);
    font-size: 16px;
    line-height: 24px;

    margin-top: 40px;
    margin-bottom: 20px;
}
.UserSettings-Cancel {
    align-self: center;
}