@import '../styles.css';
@import '../components/Form/styles.css';

.authorization {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: var(--color-blue-light);
}

.authorization__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;

    padding: 40px;
    margin: 32px auto auto 48px;
    border-radius: 12px;
    background-color: var(--color-white);
}
.authorization__heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    margin: 0 0 28px;
}
