.user-profile {
    display: flex;
    height: 100%;
    background-color: var(--color-grey-10);
}

.user-profile__layout {
    margin: 44px auto auto;
}

.user-profile__dashboard {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    max-width: 480px;

    padding: 60px 72px;
    margin-top: 24px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
}

/* Header */
.user-profile__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.user-profile__avatar {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--color-grey-6);
    margin-right: 16px;
}

.user-profile__user-data {
    display: flex;
    flex-direction: column;
}

.user-profile__heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-grey-dark);
}
.user-profile__change-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 28px;
}

.user-profile__name {
    margin: 6px 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.user-profile__options {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.user-profile__option:not(:last-child) {
    margin-bottom: 8px;
}

.user-profile__log-out {
    background-color: var(--color-red);
    margin-top: 36px;
    align-self: flex-start;
    width: auto;
}

/* Secondary user data */
.user-profile__parameters {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.user-profile__parameter:not(:last-child) {
    margin-bottom: 16px;
}
.user-profile__label {
    color: var(--color-grey-light);
    margin: 0 0 4px;
}
.user-profile__value {
    color: var(--color-grey-dark);
    margin: 0;
}

.user-profile__cancel-data-change {
    align-self: center;
}