@import '../../colors.css';
@import '../../components/Form/styles.css';

.user-settings {
    display: flex;
    height: 100%;
    background-color: var(--color-blue-light);
}

.user-settings__layout {
    margin: 44px auto auto;
}

.user-settings__dashboard {
    display: flex;
    flex-direction: column;
    min-width: 346px;
    max-width: 346px;

    padding: 24px 40px 52px;
    margin-top: 24px;
    background-color: var(--color-white);
    border-radius: 12px;
}

/* Header */
.user-settings__header {
    display: flex;
    margin-bottom: 52px;
}

.user-settings__avatar {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin-right: 16px;
}

.user-settings__user-data {
    display: flex;
    flex-direction: column;
}

.user-settings__heading {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-grey-dark);
}
.user-settings__change-heading {
    margin-bottom: 40px;
    align-self: center;
}

.user-settings__name {
    margin: 6px 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.user-settings__options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.user-settings__option:not(:last-child) {
    margin-right: 24px;
}

.user-settings__log-out {
    color: var(--color-red);
}

/* Secondary user data */
.user-settings__parameters {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}
.user-settings__parameter:not(:last-child) {
    margin-bottom: 16px;
}
.user-settings__label {
    color: var(--color-grey-light);
    margin: 0 0 4px;
}
.user-settings__value {
    color: var(--color-grey-dark);
    margin: 0;
}

.user-settings__cancel-data-change {
    align-self: center;
}