.input {
    height: 32px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1px solid transparent;
    border-bottom-color: var(--color-grey-5);
    background-color: var(--color-grey-10);
    font-size: 14px;
    line-height: 18px;
    color: var(--color-grey-1);
    padding-left: 16px;
}
.input[type="file"] {
    border-color: transparent;
    background-color: transparent;
    padding: 0;
}
.input_invalid_true {
    border-bottom-color: var(--color-red);
}
.input:active,
.input:focus {
    border-bottom-color: var(--color-blue-dark);
    outline: none;
}