@import '../colors.css';
@import '../components/Form/styles.css';

.authorization {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 16px;

    background-color: var(--color-grey-10);
}

.authorization__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 346px;

    padding: 40px;
    margin: auto;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
}
.authorization__heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    margin: 0 0 28px;
}
