.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form > .button {
    margin-top: 12px;
    margin-bottom: 12px;
    align-self: flex-start;
    width: auto;
}
.form > .formfield {
    margin-bottom: 16px;
}
