@import '../styles.css';

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}

.NotFound {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: var(--color-blue-light);
}

.NotFound-CenteredBlock {
    margin: 200px auto auto;
    width: 700px;
}

.NotFound-Message {
    padding: 16px 42px 24px;
    margin-top: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-dark);
    border-radius: 0 12px 12px;
}
.NotFound-MessageHeading {
    margin: 0 0 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.NotFound-MessageParagraph {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}