/* Chat List Item */
@import '../../colors.css';
@import '../Avatar/styles.css';

.chats-list-item {
    display: flex;
    padding: 12px 20px;
}
.chats-list-item:hover {
    background-color: var(--color-blue-light);
}

/* Aside */
.chats-list-item__avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #EFEFEF;
    margin-right: 12px;

    position: relative;
}
.chats-list-item__avatar-indicator {
    width: 10px;
    height: 10px;
    background-color: var(--color-blue-dark);
    border-radius: 50%;
    border: 2px solid var(--color-white);

    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* Main */
.chats-list-item__main {
    width: 100%;
}

/* Chat Header */
.chats-list-item__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.chats-list-item__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-dark);
    margin: 0;
    padding: 0;

    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.chats-list-item__date {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-dark);
}

/* Chat Content */
.chats-list-item__content {
    display: flex;
    justify-content: space-between;
}
.chats-list-item__message-preview {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
    margin: 0;

    max-width: 200px;
}
.chats-list-item__me {
    color: var(--color-grey-dark);
}
.chats-list-item__badge {
    margin: 0;
    align-self: flex-end;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-white);
    padding: 4px 6px;
    background-color: var(--color-blue-dark);
    border-radius: 12px;
}