@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Light-slnt=0.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Regular-slnt=0.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-SemiBold-slnt=0.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Bold-slnt=0.ttf') format('truetype');
    font-weight: 700;
}


:root {
    --color-blue-light: #EFF4FF;
    --color-blue-dark: #3369F3;
    --color-grey-dark: #1E1E1E;
    --color-grey-light: #A5A5A5;
    --color-white: #FFFFFF;
    --color-red: #FF0000;
}

html {
    font-family: 'Inter', 'Helvetica', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

a {
    color: var(--color-blue-dark);
}