@import '../styles.css';
@import './ChatListItem/styles.css';
@import './Conversation/styles.css';
@import './Message/styles.css';

.chats {
    height: 100%;
}

.chats__layout {
    display: flex;
    height: 100%;
}

.chats__aside {
    width: 346px;
    min-width: 346px;
    background-color: var(--color-white);
    border-right: 1px solid var(--color-blue-light);
    overflow-y: scroll;
}

.chats__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    position: sticky;
    top: 0;
    background-color: var(--color-white);
}

.chats__search {
    position: relative;
}
.chats__search-input {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid transparent;
    padding-left: 28px;
}
.chats__search-input::placeholder {
    color: var(--color-blue-dark);
    text-decoration: underline;
}
.chats__search-icon {
    position: absolute;
    top: 4px;
    left: 4px;
}

.chats__user-settings {
    text-decoration: none;
    font-size: 24px;
    line-height: 24px;
}


.chats__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chats__main {
    display: flex;
    flex-grow: 1;
    background-color: var(--color-blue-light);
}

.chats__empty {
    padding: 28px;
    margin: 20px auto auto 28px;
    border: 1px solid var(--color-grey-dark);
    border-radius: 0 12px 12px;
    background-color: var(--color-white);
}
.chats__empty-message {
    font-size: 12px;
    line-height: 16px;
}
