@import '../Input/styles.css';

.formfield {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formfield__label {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-1);
    margin-bottom: 4px;
}

.formfield__error {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-red);
}