/* Conversation Message */
.message__container {
    margin-bottom: 8px;
}
.message__container:not(:last-child) {
    margin-bottom: 8px;
}
.message {
    display: flex;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 12px;
    max-width: 450px;
}

.message_direction_from {
    align-self: flex-end;
}

/* Aside */
.message__aside {
    margin-left: 20px;
    line-height: 16px;
    font-size: 12px;
}

.message__time {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
}

/* Main */
.message__author {
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 12px;
   line-height: 16px;
}

.message__text {
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-dark);
    margin: 0;
}

.message__image {
    border-radius: 12px;
    width: 436px;
    height: 290px;
    max-width: 436px;
    max-height: 290px;
}